:root {
  --main-text-color: rgb(161, 137, 75);
  --button-background-color: #b18a2f;
  --servises-background-color: rgb(235, 235, 235);
  --consultation-background-color: #bca772;
  --footer-background-color: rgb(24, 22, 23);
  --vk-color: rgb(53, 81, 120);
  --telegram-color: rgb(0, 138, 205);
  --viber-color: rgb(36, 0, 61);
  --whatsapp-color: rgb(7, 94, 84);
  --instagram-color: rgb(188, 42, 141);
}
.page {
  /* height: 100%; */
  width: 100%;
  max-width: 1920px;
  background-color: var(--servises-background-color);
  display: inline-block;
  overflow: visible;
  font-family: "Geometria";
  /* overflow-y: hidden; */
}
.main {
  height: 100%;
  width: 100%;
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; */
  /* position: sticky;
  top: 0px;
  overflow: auto; */
  position: relative;
  /* overflow: visible; */
  /* overflow: visible; */
  /* background-attachment: fixed; */
  /* background-attachment:fixed;
   background-repeat: no-repeat;
   background-position-y: 114px; */
  /* background-image: url(./res/main_photo.jpg); */
}
.photo {
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 0;
}
.photo img {
  width: 100%;
}
.header {
  background-color: white;
  background-attachment: fixed;
  width: 100%;
  display: inline-flex;
  z-index: 1;
}
.headerContent {
  margin: 10px auto;
  vertical-align: top;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-right: 40px;
  margin-left: 10px;
}
.address {
  display: flex;
  align-items: baseline;
  margin-right: 50px;
  font-size: 18px;
  color: var(--main-text-color);
}
.address p {
  margin-top: 1rem;
}
/* .menu {
  width: 50px;
} */

#menu-box.active {
  visibility: visible;
  opacity: 1;
}
#span1.active {
  transform: rotate(45deg);
}
#span2.active {
  transform: rotate(45deg);
  background-color: transparent;
}
#span3.active {
  width: 26px;
  transform: rotate(135deg);
}

.menu-button {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-right: 10px;
  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

#span1 {
  display: block;
  position: absolute;

  width: 26px;
  height: 2px;

  background-color: var(--main-text-color);

  transition: 0.2s;
}
#span2 {
  display: block;
  position: absolute;

  width: 21px;
  height: 2px;

  background-color: var(--main-text-color);

  transition: 0.2s;
  transform: translateY(5px);
}
#span3 {
  display: block;
  position: absolute;
  width: 11px;
  height: 2px;

  background-color: var(--main-text-color);

  transition: 0.2s;
  transform: translateY(10px);
}

#menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: whitesmoke;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  /* transition-duration: 0.5s; */
  transition: all 0.25s ease-in-out;
}
.bigPhoto {
  width: 70%;
  /* display: flex; */
  flex-direction: column;
  padding: 0px 0px 0px 18.5vw;
  position: absolute;
  top: 10vw;
  z-index: 0;
}
.bigPhoto-text {
  color: white;
  font-size: 3vw;
}
.buttons {
  display: inline-flex;
  align-items: center;
}
.bigPhoto-callButton {
  color: #ffffff;
  background-color: var(--button-background-color);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%);
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  height: 30px;
  border: 2px solid var(--button-background-color);
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 30px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bigPhoto-callButton:hover {
  background-color: transparent;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}
.bigPhoto-callButton:active {
  transform: translateY(1px);
}
.bigPhoto-orderCallButton {
  color: #ffffff;
  background-color: transparent;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%);
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  height: 30px;
  border: 2px solid white;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 30px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bigPhoto-orderCallButton:hover {
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
  transition: all 0.5s ease-in-out;
}
.services {
  width: 100%;
  background-color: var(--servises-background-color);
  display: grid;
  grid-template-columns: repeat(3, 20vw [col-start]);
  grid-template-rows: repeat(3, 15vh [row-start]);
  gap: 2vw 2vh;
  place-items: center;
  place-content: center;
  padding: 10vh 0px;
  position: relative;
  z-index: 0;
}
.services button {
  height: 15vh;
  width: 20vw;
  background-color: white;
  color: black;
  border: 0px;
  font-size: 2.3vw;
  font-weight: bolder;
  cursor: pointer;
}

.services button:hover {
  background-color: var(--button-background-color);
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.services-text {
  grid-column: 2 / span 2;
  grid-row: second-line / 3;
  font-size: 4vh;
  font-weight: bolder;
  justify-self: right;
  align-self: start;
}
.services-text:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
.testForCost {
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons {
  display: inline-flex;
  align-content: center;
  margin: 5vh;
}
.icon1,
.icon2,
.icon3 {
  display: flex;
  flex-direction: column;
  justify-content: last baseline baseline;
  align-content: center;
}
.icon1 img,
.icon2 img,
.icon3 img {
  width: 10vw;
  justify-self: center;
  align-self: center;
  filter: invert(82%) sepia(36%) saturate(357%) hue-rotate(2deg) brightness(76%)
    contrast(94%);
}
.icons-small-text {
  font-size: 2vh;
  text-align: center;
  width: 16vw;
  margin: 5px;
}
.icons-big-text {
  text-align: center;
  font-size: 3.5vh;
  margin: 10px 0px;
  font-weight: 10;
}
.test-photo img {
  width: 50vw;
}
.test-text {
  position: absolute;
  bottom: 16vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-size: 2.5vw;
}
.test-text button {
  align-self: center;
  color: #ffffff;
  width: 20vw;
  background-color: var(--button-background-color);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%);
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  height: 30px;
  border: 2px solid var(--button-background-color);
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.test-text button:hover {
  background-color: transparent;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}
.consultation {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--consultation-background-color);
  padding-bottom: 30px;
  padding-top: 20px;
}
.consultation-big-text {
  align-self: center;
  font-weight: 900;
  text-align: left;
  font-size: 5vh;
  width: 40vw;
  /* margin-left: 14vw; */
  margin-bottom: 0px;
}
.consultation-small-text {
  align-self: center;
  text-align: left;
  font-size: 3vh;
  width: 40vw;
}
.consultation-button-block {
  display: flex;
  align-self: center;
  width: 40vw;
  /* padding-right: 20vw; */
}
.consultation-button {
  margin-right: 20vw;
  color: #ffffff;
  background-color: black;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  /* box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%); */
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  height: 30px;
  border: 2px solid black;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.consultation-button:hover {
  background-color: transparent;
  color: black;
  transition: all 0.5s ease-in-out;
}
.reviews {
  background-color: white;
  position: relative;
}
.reviews-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.reviews-text {
  margin-right: 70px;
  font-size: 3vh;
  text-align: center;
  font-weight: 900;
}
.reviews-photo img {
  width: 30vw;
}
.reviews-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 70px;
  flex-wrap: wrap;
}
.reviews-links-element {
  margin-right: 30px;
  background-image: url(./res/Снимок.JPG);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 250px;
  max-height: 160px;
  width: 19vw;
  height: 26vh;
  display: flex;
  align-items: center;
  border: lightslategray;
  border-width: 2px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 2px lightslategrey;
  padding-top: 8px;
  display: flex;
  flex-direction: column-reverse;
}
.reviews-links-element p {
  padding: 4px;
  margin: 0px 3px 3px 3px;
  /* width: 250px; */
  width: 19vw;
  max-width: 250px;
  background-color: rgba(24, 22, 23, 0.5);
  color: #ffffff;
  font-size: 12px;
}
.play-btn {
  position: absolute;
  bottom: 99px;
  max-width: 250px;
  max-height: 130px;
  width: 19vw;
  height: 18vh;
  margin: 0;
  display: flex;
  justify-self: center;
  align-content: center;
  background-color: rgba(24, 22, 23, 0.3);
  z-index: 1;
  transition: 1s;
}
#play-btn-link {
  display: block;
  margin: auto;
}

.play-btn__svg {
  transition: 1s;
  fill: #9b9a9a;
  opacity: 0.9;
}

.play-btn:hover .play-btn__svg {
  fill: var(--main-text-color);
  opacity: 1;
}
.play-btn:hover {
  background-color: rgba(24, 22, 23, 0);
}
.map-info {
  position: absolute;
  bottom: 220px;
  left: 10vw;
  height: 300px;
  width: 250px;
  z-index: 1;
  background-color: transparent;
}
.map-info-text {
  background-color: white;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  background-color: var(--footer-background-color);
  color: #ffffff;
  padding: 20px 40px 20px 40px;
}
.footer-logo {
  /* margin-right: 200px;
  margin-left: 100px; */
  align-self: center;
}
.footer-address {
  /* margin-right: 200px; */
}
.phone-number {
  font-size: 25px;
}
.footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding-left: 12px;
}
.social-button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vk {
  color: var(--vk-color);
}
.vk:hover {
  background-color: var(--vk-color);
  color: white;
  transition: all 0.35s ease-in-out;
}
.telegram {
  color: var(--telegram-color);
}
.telegram:hover {
  background-color: var(--telegram-color);
  transition: all 0.35s ease-in-out;
  color: white;
}
.viber {
  color: var(--viber-color);
}
.viber:hover {
  background-color: var(--viber-color);
  transition: all 0.35s ease-in-out;
  color: white;
}
.whatsapp {
  color: var(--whatsapp-color);
}
.whatsapp:hover {
  background-color: var(--whatsapp-color);
  transition: all 0.35s ease-in-out;
  color: white;
}
.instagram {
  color: var(--instagram-color);
}
.instagram:hover {
  background-color: var(--instagram-color);
  transition: all 0.35s ease-in-out;
  color: white;
}

@media (max-width: 768px) {
  .menu-button {
    margin-right: 40px;
  }
  .logo {
    margin-left: 40px;
  }
  .address {
    font-size: 17px;
    text-align: center;
  }
  .services > button {
    font-size: 18px;
  }
  .services-text {
    font-size: 24px;
  }
  .icons-big-text {
    font-size: 20px;
  }
  .icons-small-text {
    font-size: 16px;
  }
  .icon2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .test-text {
    bottom: 12vmin;
  }
  .test-text > p > b {
    font-size: 20px;
  }
  .test-text > p {
    font-size: 16px;
  }
  .consultation-big-text {
    font-size: 24px;
    width: 60vw;
  }
  .consultation-small-text {
    width: 60vw;
    font-size: 20px;
  }
  .consultation-button-block {
    width: 60vw;
  }
  .reviews-links {
    flex: 0 0 49%;
  }
  .reviews-links-element {
    width: 240px;
    height: 160px;
    margin: 10px;
  }
  .reviews-links-element > p {
    width: 240px;
    font-size: 15px;
    text-align: center;
  }
  .play-btn {
    width: 240px;
    height: 100px;
    bottom: 135px;
  }
  .map-info {
    bottom: 420px;
  }
  .footer {
    flex-direction: column;
  }
  .footer-address {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
  }
  .footer-links {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .headerContent {
    flex-wrap: wrap;
  }
  .menu-button {
    margin-right: 40px;
  }
  .logo > img {
    width: 140px;
    height: auto;
  }
  .address {
    font-size: 12px;
    text-align: center;
  }
  .buttons {
    flex-direction: column;
  }
  .photo{
    position:relative;
  }
  .bigPhoto{
    top:20px;
  }
  .bigPhoto-callButton {
    width: 190px;
    margin-bottom: 15px;
    margin-right: 105px;
  }
  .bigPhoto-orderCallButton {
    margin-right: 105px;
  }
  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services > button {
    width: 190px;
    font-size: 18px;
  }
  .services-text {
    padding-top: 10px;
    font-size: 24px;
    padding-left: 90px;
  }
  .icons {
    flex-direction: column;
    width: 300px;
  }
  .icons-big-text {
    font-size: 20px;
  }
  .icons-small-text {
    font-size: 16px;
    width: inherit;
  }
  .icon2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .icon1 img,
  .icon2 img,
  .icon3 img {
    width: 100px;
  }
  .test-photo > img {
    width: 65vw;
  }
  .test-text {
    bottom: 12vmin;
  }
  .test-text > p > b {
    font-size: 4.2vw;
  }
  .test-text > p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .test-text > button {
    width: 35vw;
  }
  .play-btn {
    width: 240px;
    height: 100px;
  }
  .map-info {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    background-color: var(--servises-background-color);
  }
  .footer {
    flex-direction: column;
  }
  .footer-address {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
  }
  .footer-links {
    text-align: center;
  }
}
@media (max-width: 444px) {
  .address{
    margin: auto;
  }
}
@media (max-width: 394px) {
  .menu-button{
    justify-self: center;
    margin-left: 40px;
  }
  #span2,
  #span3 {
    width: 26px;
  }
}
@media (max-width: 375px) {
  .page {
    overflow: hidden;
  }
  .headerContent {
    width: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-button {
    justify-self:flex-end;
  }
  .logo{
    justify-self: center;
  }
  .logo > img {
    width: 100px;
    height: auto;
  }
  .address {
    display: none;
  }

  .photo > img {
    display: block;
    width: auto;
    height: 300px;
    position: relative;
    right: 230px;
  }
  .bigPhoto{
    top:40px;
  }
  .buttons {
    margin-top: 30px;
    flex-direction: column;
    align-content: flex-start;
  }
  .bigPhoto {
    padding-left: 40px;
  }
  .bigPhoto-text {
    font-size: 14px;
    width: 200px;
  }
  .bigPhoto-callButton {
    width: 190px;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 5px;
  }
  .bigPhoto-orderCallButton {
    margin-left: 7px;
    margin-right: 0;
  }
  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services > button {
    width: 190px;
    font-size: 18px;
  }
  .services-text {
    padding-top: 20px;
    font-size: 16px;
    padding-left: 90px;
  }
  .icons {
    flex-direction: column;
    width: 300px;
  }
  .icons-big-text {
    font-size: 20px;
  }
  .icons-small-text {
    font-size: 16px;
    width: inherit;
  }
  .icon2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .icon1 img,
  .icon2 img,
  .icon3 img {
    width: 100px;
  }
  .test-photo > img {
    width: 80vw;
  }
  .test-text {
    /* bottom: 7vh;    */
  }
  .test-text > p > b {
    font-size: 16px;
  }
  .test-text > p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .test-text > button {
    width: 190px;
  }
  .consultation-big-text {
    font-size: 20px;
    text-align: center;
  }
  .consultation-small-text {
    text-align: center;
    font-size: 16px;
  }
  .consultation-button-block {
    justify-content: center;
  }
  .reviews-content {
    flex-direction: column;
  }
  .reviews-text {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .reviews-photo img {
    width: 200px;
  }
  .play-btn {
    width: 240px;
    /* height: 80px; */
    /* bottom: 27.5vh; */
  }
  .footer {
    flex-direction: column;
  }
  .footer-address {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
  }
  .footer-links {
    text-align: center;
  }
}
